h1 {
    margin-top: 70px;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 
    2px 2px 0 rgb(198, 67, 237),
    3px 3px 0 rgb(173, 143, 143),
    5px 5px 0 rgb(50, 32, 165);
  }
  h2 {
    margin-top: 20px;
    font-size: 19px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 
    2px 2px 0 rgb(130, 86, 144),
    3px 3px 0 rgb(173, 143, 143),
    5px 5px 0 rgb(50, 32, 165);
  }

  .flexy{
    display: flex;
    justify-content: space-around;
  }